@mixin titulos {
    text-align: center;
    padding: 40px;
    font-family:'Montserrat', sans-serif;
    color: $color3;
}

@mixin texto {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 17px;
    padding: 20px;
}