@import "../variables";
.header {
    font-family:'Montserrat', sans-serif;
    font-size: 10px;
}
/* Nav */
.nav-link {
    font-size: 20px;
    color: $color3;

}

.navbar-brand {
    margin: 5px;
    padding: 20px;
}

.logo-florsi {
    height: 20px;
}