@import "../variables";
@import "../mixins";

.btn-primary {
    margin: 40px;
    padding: 15px;
    color: $color1;
    border-radius: 10px;
    background-color: $color3;
}

.encabezado{
    @include titulos
}

.introduccion {
    @include texto
}

.img-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    // height: 350px;
    width: 100%;
    padding: 1.5em;
}