@import "../variables";
@import "../mixins";

.encabezado{
    @include titulos
}
.fondo-ilus {
    background-color: $color1;
}

.introduccion {
    @include texto
}

.img-ilus {
    width: 400px;
    height: 600px;
}